*, *::before, *::after {
    box-sizing: border-box; 
}


div {
  margin:auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate (-50%, -50%);
}

div:after {
    content:"";
    display: block;
    padding-top: 100%;
}


