
*, *::before, *::after {
   
}


div {
  position: absolute;
  top: 40%;
  left: 40%;
  font-family: fantasy;
  color: aliceblue;
 font-size: 5em;
}

div:after {
    content:"";
    display: block;
    padding-top: 100%;
}